export PGHOST=localhost
export PGPORT=5432
export PGDATABASE=pianoweb
export PGUSER=testuser
export PGPASSWORD="testpassword"

MSSQL_CONNECTION_STRING='DRIVER={ODBC Driver 18 for SQL Server};SERVER=127.0.0.1,1433;DATABASE=pianoweb_source;UID=sa;PWD=PianoWeb2026!;TrustServerCertificate=yes'
